<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="menuFragment">
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #876DDA;">
		<a class="navbar-brand" href="/">SpringBoot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/board/boardList">게시판</a></li>
				<li class="nav-item"><a class="nav-link" href="/user/userMe">내 정보</a></li>
				<li class="nav-item"><a class="nav-link" href="/chat/chatList">채팅</a></li>
				<li class="nav-item" id="admin_div" style="display:none"><a class="nav-link" href="/user/userList">관리자</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<button class="btn my-2 my-sm-0" type="button" style=" background-color:#E08C9F; margin:15px;">
					<a th:href="@{/login/login}" style="color:#fff;">로그인</a>
				</button>
				<button class="btn my-2 my-sm-0" type="button" style="background-color:#E08C9F">
					<a th:href="@{/login/logout}" style="color:#fff;">로그아웃</a>
				</button>
			</form>
		</div>
	</nav>

</header>

</html>