<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>게시판 작성</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>

<style>
	table {
		width: 100%;
		border: 3px solid #87CEEB;
	}
</style>
</head>
<div layout:fragment="content">
	<div class="container outset">
		<h2 class="text-primary" style="margin:40px">게시판 작성</h2>
		<form id="frm" name="frm" method="POST" action="/board/boardInsert" enctype="multipart/form-data">
			<table class="table">
				<tr>
					<td class="text-primary">제목</td>
					<td><input type="text" class="form-control" id="title"
						name="title" /></td>
				</tr>
				<tr>
					<td colspan="2"><textarea class="form-control" rows="5"
							id="contents" name="contents"></textarea></td>
				</tr>
			</table>
			<input type="file" id="files" name="files" multiple="multiple">
			<input type="submit" id="submit" value="저장" class="btn btn-info" style="float:right">
		</form>

	</div>

</div>
</html>